.service-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px ;
    padding: 100px 50px;
    overflow-x: hidden;
    /* background-color: rgb(234, 240, 245); */
    /* padding-bottom: 0px; */
    
}
.service-container:nth-child(2){
    margin-left: 20px;
}
.service-container h1 {
    background: linear-gradient(to right, #6cebeb, #FFC300);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 56px;
    width: 100%;
    text-align: center;

}
.service-card{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:500px;
    height: 310px;
    background: linear-gradient(135deg,#d42e31,#491f8f);
    border-radius: 20px;
    text-align: center;
    
   
   
}
.service-card img{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    height: 101%;
    width: 101%;
    transition: 0.5s;
    border-radius: 20px;

}




/* .service-card:hover  {
 width: 80%;
 
 } */


.service-card-content{
    position: relative;
    left: 20%;
    /* display: flex; */
    
    padding: 10px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
   
}
.service-card:hover .service-card-content{
    left: 0%;
    opacity: 1;
    visibility: visible;
 

}
.service-card:hover img{
    left: 100%;
    top: 0;
    width: 300px;

}
.servicename{
    font-size: 40px;
    /* background: -webkit-linear-gradient(#bcd3dd, #1d0d37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 50%;
    bottom: 0;
    padding: 10px;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: translateX(-50%);
    transition: 0.4s;
}
.service-card:hover .servicename{
    bottom: 100%;
    transition: 0.4s;

    
    /* visibility: hidden; */
  

}
.service-card:hover {
    
text-align: left;  

}
.service-card-content p{
    color:white
}
.service-card-content span{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background-color: aliceblue;
    color: #333;
    border-radius: 8px;
}
.service-more-info{
    padding: 3px 6px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 10px;
    transition: 250ms ease;
    cursor: pointer;
    text-align: center;
    
}
.service-more-info:hover{
    background-color: white;
    color: black;
}