.dentist-card{
    width: 300px;
    height: 300px;
    background-color: white;
border-radius: 20px;
padding: 25px 30px;
display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
margin-bottom: 55px;
color: #696969;
}
.dentist-card-top img{
    width: 130px;
height: 142px;
border-radius: 164px;
}
.dentist-card-top{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.dentist-card-top p {
    margin-top: 7px;
  margin-bottom: 9px;
  font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 18px;
color: #696969;
letter-spacing: 1px;
}
.dentist-card-top span {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: rgb(16, 58, 30);
    letter-spacing: 2px;
}
.dentist-card-bottom{
    display: flex;
    align-items: center;
    gap: 40px
}
@media only screen and (max-width: 708px) {
	.dentist-card {
        width: 100%;
        height: 400px;
    }
    .dentist-card-top img{
        width: 230px;
    height: 242px;
    border-radius: 164px;
    }
 
  }